<footer class="mtop50">
    <div class="row bg-light">
        <div class="col-3 d-flex align-items-center justify-content-center"><img src="assets/logo_transparent.png"
                alt="logo" width=200 height=200></div>
        <div class="col-3">
            <h4 class="mtop40">
                Contatti
            </h4>
            <p>
                Via Rossi 27, VE
                <br>
                Tel. 343434343
                <br>
                Mail info@funtrip.it
            </p>

        </div>
        <div class="col-3">
            <h4  class="mtop40">
                Social
            </h4>
            <p>
                <a href="#">Facebook</a>
                <br>
                <a href="#">Twitter</a>
                <br>
                <a href="#">Instagram</a>
            </p>
        </div>
        <div class="col-3">
            <h4  class="mtop40">
                Legal
            </h4>
            <p>
                <a href="#">Terms & Conditions</a>
                <br>
                <a href="#">Private Policy</a>
            </p>
        </div>
    </div>
</footer>