<div class="container">
    <h2 class="d-flex justify-content-center mtop40" >EVENTI e NEWS</h2>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Es. giostre">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            bambini
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            adulti
                        </label>
                    </div>
                </div>
                <div class="col-3" class="d-flex align-items-center justify-content-center">
                    <select class="form-select">
                        <option selected>Categoria</option>
                        <option value="1">Evento a Tema</option>
                        <option value="2">Feste</option>
                        <option value="3">Novità</option>
                        <option value="4">Attrazioni</option>
                    </select>
                </div>
                <div class="col-3 d-flex align-items-center justify-content-center">
                    <a href="#" class="btn btn-primary f18">Cerca</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="assets/park1.jpg" class="card-img-top" height=170 alt="...">
                <div class="card-body">
                    <h5 class="card-title">Event 1</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/park2.jpg" class="card-img-top" height=170 alt="...">
                <div class="card-body">
                    <h5 class="card-title">Event 2</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/park2.jpg" class="card-img-top" height=170 alt="...">
                <div class="card-body">
                    <h5 class="card-title">Event 3</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/park1.jpg" class="card-img-top" height=170 alt="...">
                <div class="card-body">
                    <h5 class="card-title">Event 4</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</div>