<div class="container">
    <div class="row mtop70" >
        <div class="col">
            <h1>Cartaland</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, voluptatum architecto odit ipsam
                maiores obcaecati earum vel, asperiores dolor atque corrupti consectetur libero. Reprehenderit
                perspiciatis explicabo ea voluptatem nisi debitis!
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, voluptatum architecto odit ipsam
                maiores obcaecati earum vel, asperiores dolor atque corrupti consectetur libero. Reprehenderit
                perspiciatis explicabo ea voluptatem nisi debitis!
            </p>
        </div>
        <div class="col">
            <img src="assets/dettaglio.jpg" alt="dettaglio parco" height=400 class="rounded mx-auto d-block">
        </div>
    </div>
    <div class="row mtop70">
        <div class="card mbot40">
            <div class="row">
                <div class="col bord1right">
                    <h4>
                        Totale Persone Attualmente
                    </h4>
                    <h3>1000</h3>
                </div>
                <div class="col bord1right tcenter">
                    <h4>
                        Numero Attrazioni
                    </h4>
                    <h3>87</h3>
                </div>
                <div class="col tcenter">
                    <h4>
                        FeedBack Positivi
                    </h4>
                    <h3>87%</h3>
                </div>
            </div>

        </div>
        <hr>
        <h2 style="text-align: center;">Biglietti</h2>
        <div class="card mtop30">
            <div class="card-body">
                <div class="row">
                    <div class="col-4 bord1right tcenter">
                        <h4>
                            Peschiera di Carta
                        </h4>
                        <p>via Peschiera 27</p>
                    </div>
                    <div class="col-3 bord1right tcenter">
                        <h4>
                            Tipologia
                        </h4>
                        <p>Attrazioni per bambini<br>Avventura</p>


                    </div>
                    <div class="col-3 d-flex align-items-center justify-content-center bord1right">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#mapsModal" class="btn btn-primary"
                            style="font-size: 18px;"><img src="assets/map.svg"> Mappa
                            Attrazioni</a>
                    </div>
                    <div class="col-2 d-flex align-items-center justify-content-center bord1right">
                        <a href="#" class="btn btn-primary" style="font-size: 18px;">Acquista</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4  bord1right tcenter">
                        <h4>
                            Simone
                        </h4>
                        <p>via Simone 27</p>
                    </div>
                    <div class="col-3  bord1right tcenter">
                        <h4>
                            Tipologia
                        </h4>
                        <p>Attrazioni per bambini<br>Avventura</p>
                    </div>
                    <div class="col-3 d-flex align-items-center justify-content-center  bord1right ">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#mapsModal" class="btn btn-primary"
                            style="font-size: 18px;"><img src="assets/map.svg"> Mappa
                            Attrazioni</a>
                    </div>
                    <div class="col-2 d-flex align-items-center justify-content-center  bord1right">
                        <a href="#" class="btn btn-primary" style="font-size: 18px;">Acquista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mapsModal" tabindex="-1" aria-labelledby="mapsModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mappa Attrazioni</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="assets/mappa-gardaland.png" alt="mappa Attrazioni">
            </div>
        </div>
    </div>
</div>